* {

}

/* MAIN STYLES */

body {
  background-color: #000;
}

h1  {
  color: black;
}

h2 {
    color: white;
}

p {
  color: white;
}

 /* HEADER */

header {
  height: 100px;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  border-bottom: solid 15px #000;
}

.fixed-nav h1 {
  position: absolute;
  z-index: 2;
  margin-left: 300px;
  margin-right: 300px;
}

h2:hover {
  color: aquamarine;
}

div img:hover {
    opacity: 0.8;
}

ul {
  position: absolute;
  margin: -50px 50px 50px 450px;
}

li {
  float: right;
  margin-left: 15px;
  list-style: none;;
}

.about {
  margin-left: 100px;
}

/*MEDIA QUERIES*/

@media (min-width: 700px) {
  div img {
    height: 125px;
  }
@media (min-width: 1100px) {
  div img {
    height: 200px;
  }
}
